 /* general styles */
 html {
     box-sizing: border-box;
 }

 body {

     margin: 0;
     line-height: 2rem;
     color: #2b2d42;
     font-family: 'Roboto Mono', monospace;
     font-size: 1rem;
     background-color: white
 }

 section {
     padding: 0.5rem 3rem;
     margin: 0em 15em;
 }

 img {
     display: block;
     max-width: 100%;
 }

 a {
     color: #2b2d42;
     text-decoration: none;

 }

 /* editing headings  */
 #introduction {
     border: solid red;
     min-height: 100vh;

 }

 h1,
 h2,
 h3 {
     line-height: 2rem;
     margin: 0.5rem, 0rem;
 }

 h1 {
     font-family: 'Passions Conflict', cursive;
     font-size: 4.5rem;
     margin-bottom: 1.2rem;

 }

 nav {
     display: none;
 }

 h2 {
     font-size: 2.0rem;
     color: #ade8f4;
 }

 h3 {
     font-size: 1.5rem;

 }

 /* intro section */

 /* #home {
     margin: 0 auto;
     min-height: 42vh;
     display: flex;
     align-items: center;
     justify-content: center;
     border: solid #90e0ef;
     opacity: .9;

 } */
 .introd {
     border: solid red;
     min-height: 42vh;
     display: grid;
     /* width: min-content; */
     /* margin: 0 auto; */
     grid-column-gap: 1em;
     grid-template-areas:
         "img title"
         "img subtitle";
     grid-template-columns: min-content max-content;
     align-content: center;
     justify-content: center;
     align-items: center;
     justify-items: center;

 }





 img {
     max-width: 120px;
     max-height: 120px;
     border-radius: 50%;
     box-shadow: 0.3em 0.3em 0.8em black;
 }




 /* button edit */

 #conbut {

     background: none;
     color: #48CAE4;
     border: 1px solid;
     padding: 0.5em 1.5em;
     border-radius: 0.5em;
     font-size: 0.7em;
     transition: all 0.5s;
 }

 #conbut:hover {
     border-color: #0077b6;
     color: #0077b6;
     box-shadow: 0em 0.5em 1em -0.6em #0077b6;
     transform: translateY(-0.2em);
     transition: all 0.5s;
 }



 /* About me section */
 .aboutc {
     border: solid red;
     min-height: 45vh;
     color: white;
     background-color: rgba(0, 8, 20, 1);
     text-align: center;

 }

 .about_title {
     position: relative
 }

 .about_title::before {
     content: '';
     display: block;
     width: 10%;
     height: 0.5px;
     margin: 0.3em auto 0.3em;
     background: white;
     opacity: .5;
 }

 .about_title::after {
     content: '';
     display: block;
     width: 10%;
     height: 0.5px;
     margin: 0.3em auto 0.3em;
     background: white;
     opacity: .5;

 }

 /* about me paragraph */
 .paragraph_about {
     display: flex;
     text-align: start;
     max-width: 1000px;
 }

 .para_about {
     font-size: small;
     width: 400px;
 }

 .para_about+.para_about {
     margin-left: 3rem;

 }

 /* skills section */

 .skills {
     border: solid red;
     height: 42vh;
 }

 .skills_title {
     border: solid red;
     text-align: center;
     color: #2b2d42;
 }

 .tools {

     display: flex;
     justify-content: space-evenly;
 }

 .tool1 {
     border: solid red;
 }

 .tool2 {
     border: solid red;
 }

 .tool3 {
     border: solid red;
     margin:
 }

 .skills_title::before {
     content: '';
     display: block;
     width: 10%;
     height: 0.5px;
     margin: 0.3em auto 0.3em;
     background: black;
     opacity: .5;
 }

 .skills_title::after {
     content: '';
     display: block;
     width: 10%;
     height: 0.5px;
     margin: 0.3em auto 0.3em;
     background: black;
     opacity: .5;
 }


 @media(max-width: 650px) {
     h2 {
         font-size: 2rem;
     }

     h3 {
         font-size: 1.1rem;

     }

     body {


         line-height: 1rem;
         font-size: 1rem;

     }

 }

 @media(max-width: 650px) {
     h2 {
         font-size: 2rem;
     }

     h3 {
         font-size: 1.2rem;
     }

     body {


         line-height: 1rem;
         font-size: 1rem;

     }

 }