 /* general styles */
 html {
     box-sizing: border-box;
 }

 body {

     margin: 0em 15em;
     border: solid #adb5bd;
     line-height: 2rem;
     color: #2b2d42;
     font-family: 'Roboto Mono', monospace;
     font-size: 1rem;
     background-color: white
 }

 section {
     padding: 0.5rem 3rem;

 }

 img {
     display: block;
     max-width: 100%;
 }

 a {

     text-decoration: none;

 }

 /* editing headings  */
 /* #introduction {

     min-height: 100vh;

 } */

 p {
     font-size: small;
     line-height: 1.5em;
 }

 h1,
 h2,
 h3 {
     line-height: 2rem;
     margin: 0.5rem, 0rem;
 }

 h1 {
     font-family: 'Passions Conflict', cursive;
     font-size: 4.5rem;
     margin-bottom: 1.2rem;

 }



 h2 {
     font-size: 2.0rem;
     color: #ade8f4;
 }

 h3 {
     font-size: 1.2 rem;
     color: #0077b6;

 }

 .header {
     display: flex;
     justify-content: space-between;
     padding: 0.5em;
 }

 /* nav section */
 #logo_name {
     border: solid rgba(0, 8, 20, .9);
     max-width: 100px;
     font-size: x-large;
     background-color: rgba(0, 8, 20, .9);
     color: white;
     margin: 0;
 }

 .nav {
     position: fixed;
     background-color: rgba(0, 8, 20, .9);
     color: white;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 100;

     transform: translateX(100%);
     transition: transform 0.3s cubic-bezier(.5, 0, .5, 1);

 }

 .nav_list {
     list-style: none;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     padding: 0;
     margin: 0;
     height: 100%;

 }

 .nav_items {
     color: white;
     font-weight: bold;
     font-size: x-large;
     text-decoration: none;
 }

 .nav_items:hover {
     color: #48CAE4;
 }

 /* intro section */


 .introd {

     min-height: 45vh;
     display: grid;
     /* width: min-content; */
     /* margin: 0 auto; */
     grid-column-gap: 1em;
     grid-template-areas:
         "img title"
         "img subtitle";
     grid-template-columns: min-content max-content;
     align-content: center;
     justify-content: center;
     align-items: center;
     justify-items: center;

 }





 .imgg {
     max-width: 120px;
     max-height: 120px;
     border-radius: 50%;
     box-shadow: 0.3em 0.3em 0.8em black;
 }




 /* intro button edit */

 #conbut {

     background: none;
     color: #48CAE4;
     border: 1px solid;
     padding: 0.5em 1.5em;
     border-radius: 0.5em;
     font-size: 0.7em;
     transition: all 0.5s;
 }

 #conbut:hover {
     border-color: #0077b6;
     color: #0077b6;
     box-shadow: 0em 0.5em 1em -0.6em #0077b6;
     transform: translateY(-0.2em);
     transition: all 0.5s;
 }



 /* About me section */
 .aboutc {

     min-height: 45vh;
     color: #48CAE4;
     background-color: rgba(0, 8, 20, .9);
     text-align: center;
     transition: all .5s;

 }

 .aboutc:hover .para_about {
     color: white;
     transition: all .5s;
 }

 .about_title {
     position: relative
 }


 .about_title::before {
     content: '';
     display: block;
     width: 10%;
     height: 0.5px;
     margin: 0.3em auto 0.3em;
     background: white;
     opacity: .5;
 }

 .about_title::after {
     content: '';
     display: block;
     width: 10%;
     height: 0.5px;
     margin: 0.3em auto 0.3em;
     background: white;
     opacity: .5;

 }

 /* about me paragraph */
 .paragraph_about {
     display: flex;
     text-align: start;
     max-width: 1000px;
 }

 .para_about {
     font-size: small;
     width: 400px;
 }


 .para_about+.para_about {
     margin-left: 3rem;

 }

 /* skills section */

 .skills {
     height: 45vh;
 }

 .skills_title {

     text-align: center;
     color: #2b2d42;
     transform: translateY(-1em);
     padding: 0em 1em;
 }

 /* skill table/grid */
 .tools {

     display: flex;
     justify-content: space-evenly;
     transform: translateY(-1em);
     text-align: center;

 }

 /* border animation */
 .tools::before {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 0;
     height: 0;
     box-sizing: border-box;
     border-bottom: 1px solid transparent;
     border-left: 1px solid transparent;
     transition: all .8s ease;

 }

 .tools::after {
     content: '';
     position: absolute;
     right: 0;
     top: 0;
     width: 0;
     height: 0;
     box-sizing: border-box;
     border-top: 1px solid transparent;
     border-right: 1px solid transparent;
     transition: all .8s ease;
 }


 .skills:hover .tools::after,
 .skills:hover .tools::before {

     border-color: #0077b6;
     width: 100%;
     height: 100%;
     box-shadow: 1px 1px 2px #2b2d42;

 }


 i {
     color: #0077b6;
 }

 .tool1 {
     padding: 0em 1em;
 }

 .tool2 {
     padding: 0em 1em;
 }

 .tool3 {

     padding: 0em 1em;
 }


 .skills_title::before {
     content: '';
     display: block;
     width: 10%;
     height: 0.5px;
     margin: 0.3em auto 0.3em;
     background: black;
     opacity: .5;
 }

 .skills_title::after {
     content: '';
     display: block;
     width: 10%;
     height: 0.5px;
     margin: 0.3em auto 0.3em;
     background: black;
     opacity: .5;
 }

 /* My project section */
 /* achievemet button */

 .projects {

     background-color: rgba(0, 8, 20, .9);
     min-height: 45vh;
     text-align: center;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     grid-column-gap: 3em;
     grid-row-gap: 2em;
     align-items: center;
     justify-items: center;



 }

 .pro-title {
     grid-column: 1/-1;

 }

 .pro-items {
     /* background-color: #48CAE4; */
     overflow: hidden;

 }

 .im {
     max-width: 180px;
     max-height: 180px;
     transition: transform 0.5s cubic-bezier(.5, 0, .5, 1),
         opacity 0.4s linear;
     opacity: .6;


 }

 .im:hover {
     transform: scale(1.2);
     opacity: 1;

 }

 #imhead {
     color: white;
 }





 .achieve {
     width: auto;
     height: 1.5em;
     display: flex;
     justify-content: center;
     grid-column: 1/-1;
 }

 .achievement {
     background: none;
     color: #48CAE4;
     border: 1px solid;
     padding: 0.5em 1.5em;
     border-radius: 0.5em;
     font-size: 0.7em;
     transition: all 0.5s;

 }

 .achievement:hover {
     border-color: white;
     color: white;
     box-shadow: 0em 0.5em 1em -0.6em white;
     transform: translateY(-0.2em);
     transition: all 0.5s;
 }

 /* footer section */

 .footer {
     min-height: max-content;
     background-color: black;
     color: #48CAE4;
     display: grid;
     align-content: center;
     justify-content: center;
     font-size: large;
     padding: 2em 0em;

 }


 .email_link {
     grid-column: 1/-1;
     color: #48CAE4;
 }

 .social_list {
     display: flex;
     flex-direction: row;
     list-style: none;

 }

 .social_l_items {
     margin: 0 .8em;

 }

 .email_link:hover,
 .social_l_items:hover {
     opacity: .8;
 }







 @media(max-width: 650px) {
     h2 {
         font-size: 2rem;
     }

     h3 {
         font-size: 1.1rem;

     }

     body {


         line-height: 1rem;
         font-size: 1rem;

     }

 }

 @media(max-width: 650px) {
     h2 {
         font-size: 2rem;
     }

     h3 {
         font-size: 1.2rem;
     }

     body {


         line-height: 1rem;
         font-size: 1rem;

     }

 }